<h1>Welcome !</h1>
<p>this is test devise of rails gem</p>
<% if user_signed_in? %>
<%= link_to 'プロフィール', show_path %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'サインアップ', new_user_registration_path %>
<%= link_to 'ログイン', new_user_session_path %>
<% end %>
